<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login For Html Css</title>
<link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
    <div class="login-form">
        <h1>Login</h1>
        <div class="container">
            <div class="main">
                <div class="content">
                    <h2>Log In</h2>
                    <form action="{{ url_for('login') }}" method="post">
                        <input type="email" id="email" class="form-control" name="email" placeholder="Email" required autofocus="">
                        <input type="password" id="password" class="form-control" name="password"  placeholder="User Password" required autofocus="">
                         <button class="btn btn-primary" type="submit">
                            Login
                         </button>
                    </form>
                    <p class="account">Don't Have An Account? <a href="{{url_for('register')}}">Register</a></p>

                </div>
                <div class="form-img">
                    <img src="/static/styles/bg.png" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
